[submodule "pipelines"]
	path = pipelines
	url = https://github.com/jade-codes/syster-pipelines.git
[submodule "base"]
	path = base
	url = https://github.com/jade-codes/syster-base.git
[submodule "cli"]
	path = cli
	url = https://github.com/jade-codes/syster-cli.git
[submodule "language-server"]
	path = language-server
	url = https://github.com/jade-codes/syster-lsp.git
[submodule "language-client"]
	path = language-client
	url = https://github.com/jade-codes/syster-vscode-lsp.git
[submodule "diagram-core"]
	path = diagram-core
	url = https://github.com/jade-codes/syster-diagram-core.git
[submodule "diagram-ui"]
	path = diagram-ui
	url = https://github.com/jade-codes/syster-diagram-ui.git
[submodule "modeller"]
	path = modeller
	url = https://github.com/jade-codes/syster-vscode-modeller.git
[submodule "viewer"]
	path = viewer
	url = https://github.com/jade-codes/syster-vscode-viewer.git
